<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <title>MECA TRADE REPORT</title>
            
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
            <script src="../graphtemplate/js/highstock.js"></script>
            <script src="../graphtemplate/js/exporting.js"></script>
            
            </head>
	<body>
        <div id="container" style="height: 600px; min-width: 500px"></div>
        <iframe id='tradeFrame' src='$TRADE_HISTORY_FILENAME' onload='readTradefile()' style="display:none"> </iframe>
        <iframe id='iframe' src='$FILENAME' onload='readfile()' style="display:none"> </iframe>
        
		<script type="text/javascript">
            var markerString = [];
             
            Highcharts.setOptions({
				global: {
					useUTC: false
				}
			});
			
			function readTradefile() {
                var data = eval(document.getElementById('tradeFrame').contentDocument.body.firstChild.innerHTML);
                
                
                for (i = 0; i < data.length; i++) {
                		var colour = 'rgba(255,0,0,1)';
                		var signalType = '';
                		var tradeTypePrefix = '';
                		
                		
                		switch(data[i][7])
						{
						case 0:
						  
						  tradeTypePrefix = 'S';
						  break;
						case 1:
						   tradeTypePrefix = 'S';
						  break;
						case 2:
						   tradeTypePrefix = 'L';
						  break;
						case 3:
						   tradeTypePrefix = 'L';
						 break;
						 default:
						  ;
						}
                		
                		
                		
                		switch(data[i][3])
						{
						case 0:
						  colour = 'rgba(80,225,80,1)';
						  
						  
						  signalType = tradeTypePrefix + 'En';
						  break;
						case 1:
						   colour = 'rgba(225,80,80,1)';
						    signalType = tradeTypePrefix + 'Ex';
						  break;
						case 2:
						   colour = 'rgba(220,220,220,1)';
						    signalType = 'Pt';
						  break;
						case 3:
						   colour = 'rgba(180,180,180,1)';
						   signalType = 'Rs';
						 break;
						 
						 case 4:
						   colour = 'rgba(140,140,140,1)';
						   signalType = 'Ps';
						 break;
						 
						case 5:
						   colour = 'rgba(255,255,20,1)';
						   signalType = 'Mc';
						  break;
						 
						  case 6:
						   colour = 'rgba(170,170,20,1)';
						   signalType = 'Ss';
						 break;
						  
						  case 7:
						   colour = 'rgba(210,210,20,1)';
						    signalType = 'Em';
						  break;
						default:
						  ;
						}
						
                		
                        markerString.push({x : data[i][0], color: colour, title : signalType,text : 'P/T #: ' + data[i][1]+ '/' + data[i][2] + '<br>' + 'Lot: ' + data[i][4] + '<br>' + 'Price: ' + data[i][5] + '<br>' + 'P/L: ' + data[i][6]});
                  }
             
            }
            
            function readfile() {
                var data = eval(document.getElementById('iframe').contentDocument.body.firstChild.innerHTML);
                
                
                // split the data set into ohlc and volume
                var ohlc = [],
                volume = [],
                equity = [],
                trade = [],
                dataLength = data.length;
                
                for (i = 0; i < dataLength; i++) {
                    ohlc.push([
                               data[i][0], // the date
                               data[i][1], // open
                               data[i][2], // high
                               data[i][3], // low
                               data[i][4] // close
                               ]);
                               
                    trade.push([
                                 data[i][0], // the date
                                 data[i][4] // the volume
                                 ]);
                    
                    volume.push([
                                 data[i][0], // the date
                                 data[i][5] // the volume
                                 ]);
                                 
                    equity.push([
                                 data[i][0], // the date
                                 data[i][6] // the volume
                                 ]);
                }
                
                // set the allowed units for data grouping
                var groupingUnits = [[
                                      'minute',                         // unit name
                                      [1,5,10,15,30]                             // allowed multiples
                                      ],[
                                          'hour',
                                          [1, 2, 3, 4, 6, 8, 9, 12]
                                          ], [
                                          'day',
                                          [1, 2, 3, 4, 5]
                                          ]];
                
                // create the chart
                $('#container').highcharts('StockChart', {
                                           
                                           rangeSelector: {
                                           selected: 1
                                           },
                                           
                                           title: {
                                           text: 'EURUSD Trade History'
                                           },
                                           
                                           yAxis: [{
                                                   title: {
                                                   text: 'OHLC'
                                                   },
                                                   height: 200,
                                                   lineWidth: 2
                                                   }, {
                                                   title: {
                                                   text: 'Volume'
                                                   },
                                                   top: 400,
                                                   height: 100,
                                                   offset: 0,
                                                   lineWidth: 2
                                                   },
                                                   {
                                                   title: {
                                                   text: 'Equity'
                                                   },
                                                   top: 280,
                                                   height: 100,
                                                   offset: 0,
                                                   lineWidth: 2
                                                   }],
                                           
                                           series: [{
                                                    type: 'candlestick',
                                                    name: 'EURUSD',
                                                    data: ohlc,
                                                    dataGrouping: {
                                                    units: groupingUnits
                                                    }
                                                    },
                                                    {
                                                  
                                                    name: 'TRADE',
                                                    data: trade,
                                                    id : 'trade',
                                                    type: 'line',
            										color: 'rgba(0,0,0,0)'

                                                    },
                                                    {
                                                    name: 'EQUITY',
                                                    data: equity,
                                                    yAxis: 2,
                                                    dataGrouping: {
                                                    units: groupingUnits
                                                    }
                                                    },{
                                                    type: 'column',
                                                    name: 'VOLUME',
                                                    data: volume,
                                                    yAxis: 1,
                                                    dataGrouping: {
                                                    units: groupingUnits
                                                    }
                                                    },
                                                    
                                                    
                                                   // the event marker flags
													{
														type : 'flags',
														data : markerString,
														onSeries : 'trade',
														shape : 'circlepin',
														width : 16
													}
										                                                    
                                                    
                                                    ]
                                           });
            }
            
            
            </script>
        
        
	</body>
</html>
